* {
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100%;
    padding: 0;
    margin: 0;
}

/* CONCERNE TOUTE LA PAGE*/




.wrapper {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    min-height: 100%;
    width: 100%;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 6px 2px;
    background-color: #004B96;
    overflow: hidden;
    animation-name: slide-in-bottom;
    animation-duration:1s;
}

/*CONCERNE LE CONTENU ET LE FOOTER*/



.footer a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/*REGLE L'APPARENCE DES LIENS DANS LE FOOTER*/


.footergauche, .apropos {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/*AFFICHAGE FOOTER A GAUCHE*/


.gauche {
    width: 558px;
    height: auto;
    float: left;
    background-color: slategrey;
    margin: 0;
    font-family: Georgia, serif;
    animation-name: slide-in-top;
    animation-duration: 1s;
    border-color : rgba(6, 2, 4, 0.75);
    border-style:solid;
    border-width:2px;
}

.textecenterpanneaugauche {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    background-color: #004B96;
    border-color : rgba(255, 255, 255, 0.75);
    border-style:solid;
    border-width:2px;
}

#previsionText{

}

/*REGLE L'ECRITURE A GAUCHE & AU CENTRE DANS LE CONTROL PANEL*/

.droite {
    width: 960px;
    animation-name: slide-in-top;
    animation-duration: 1s;
}

/*REGLE L'AFFICHAGE DU CHART A DROITE*/


.btnUpdate {
    margin-left:430px;
    box-shadow: inset 0px 0px 15px 3px #23395e;
    background: #2e466e linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    border: 1px solid #1f2f47;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana, serif;
    font-size: 15px;
    padding: 6px 13px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #263666;
}

.btnUpdate:hover {
    background: #415989 linear-gradient(to bottom, #415989 5%, #2e466e 100%);
}

.btnUpdate:active {
    position: relative;
    top: 1px;
}

/*REGLE LE BOUTON UPDATE DATA*/


#navbar {
    animation-name: slide-in-top;
    animation-duration: 1s;
}

/*ANIM NAVBAR*/




@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1
    }
}


@-webkit-keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-bottom{0%{-webkit-transform:translateY(1000px);transform:translateY(1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
/*DATA ANIMS*/



.droitenavbar {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #004B96;
}

/* AFFICHAGE NAVBAR A DROITE*/




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}