

.wrapper{
    display:flex;
    max-width:1920px;
    max-height:1080px;
    justify-content:space-between;

}



.gauche, .centre, .droite{
    padding:1px 0;

}

.gauche {
    width: 558px;
    height: auto;
    float: left;
    background-color: lightslategrey;
    margin: 0;
    font-family: Georgia, serif;
    animation-name:slide-in-top;
    animation-duration:1s;

}

.droite{
    width:960px;
    animation-name:slide-in-top;
    animation-duration:1s;
}

.textedroite{
padding-right:10px;
}

footer {
    width: 100%

}

#myChart{
    position:absolute;

}

.btnUpdate {
    margin-left:410px;
    box-shadow:inset 0px 0px 15px 3px #23395e;
    background: #2e466e linear-gradient(to bottom, #2e466e 5%, #415989 100%);
    border-radius:17px;
    border:1px solid #1f2f47;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family: Verdana, serif;
    font-size:18px;
    padding:6px 13px;
    text-decoration:none;
    text-shadow:0px 1px 0px #263666;
}
.btnUpdate:hover {
    background: #415989 linear-gradient(to bottom, #415989 5%, #2e466e 100%);
}
.btnUpdate:active {
    position:relative;
    top:1px;
}



#navbar{
    animation-name:slide-in-top;
    animation-duration:1s;
}

.textecenterpanneaugauche{
    color: black;
    font-family: Georgia, serif;
    text-align:center;
    background-color:slategrey;
}


@-webkit-keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes slide-in-top{0%{-webkit-transform:translateY(-1000px);transform:translateY(-1000px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}


.heuristique{
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    background-color: #333;

}